{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">

                <div class="inner cover">
                    <h1 class="cover-heading">Hi, {{ name }}. Please, confirm your account.</h1>
                    <p class="lead">In order to continue working on the site, you need to confirm the account. Please, click on the link below.</p>
                    <p class="lead">
                        <a href="{{ url('activate', {'hash': hash}) }}" class="btn btn-lg btn-secondary">Confirm</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Our contacts: <a href="mailto:maria.melnik.a@gmail.com">maria.melnik.a@gmail.com</a>.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}