{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('public/css/email.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">

                <div class="inner cover">
                    <h1 class="cover-heading">Hi, {{ name }}. Forgot your password?.</h1>
                    <p class="lead">In order to continue working on the site, you need to reset it. Please, click on the link below.</p>
                    <p class="lead">
                        <a href="{{ url('resetPassword', {'hash': hash}) }}" class="btn btn-lg btn-secondary">Reset password</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Our contacts: <a href="mailto:maria.melnik.a@gmail.com">maria.melnik.a@gmail.com</a>.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}