{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('admin_users') }}">Users</a>
    <a href="{{ path('admin_posts') }}">Posts</a>
    <a href="{{ path('edit_users') }}">Edit users</a>

{% endblock %}