{% extends 'base.html.twig' %}

{% block body %}


    <head>
        <meta charset="UTF-8">
        <title>Users</title>
    </head>
    <body>
    <div class="users-table"></div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/ajaxgrid.js') }}"></script>

    </body>


{% endblock %}