 body{
     background-color: #FFF;
}

 .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.buttons{
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.container_logout{
	overflow: visible;
	text-align: center;
	float: right;
}

.header {
    padding-left: 240px;
    color: #343434;
    font-weight: normal;
    font-family: "Segoe UI", serif;
    font-size: 39px;
    line-height: 62px;
    height: 80px;
    width: 100%;
    border-bottom: 7px ridge #2E3234;
}

.auth{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Times, serif;
    text-align: center;
}

.logout_button {
  display: inline-block;
}

.container_logout{
}

.sidebar_categories{
    top: 0;
	width: 200px;
	background: #2E3234;
    position: fixed;
    overflow: auto; 
    color: #F5FFFA;
    height: 100%;
}

.header > * {
    display: inline-block;
}

.categories {
    padding-left: 10px;
}

.categories-list {
    list-style-type: none;
    font-size: 1.2em;
}

 .posts_conteiner {
}

 .post_conteiner {
     width: 100%;
 }
.post_image {
    padding: 10px;
    display: inline-block;
}

.post_title {
    color: #2E3234;
    padding-left: 10px;
    padding-top: 8px;
    font-size: 22px;
    font-family: "Javanese Text";
}

.post_date {
    color: #888888;
    font-size: 12px;
    padding-left: 10px;
}
.post_summary {
    padding-top: 8px;
    padding-right: 20px;
    height: auto;
    display: inline-block;
}

.post {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.sort {
    margin-left: 20px;
}

.content {
    margin-top: 20px;
    margin-left: 210px;
}

body {
    overflow-x: hidden;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

 .btn {
     border-radius: 3px;
 }

 .btn-action {
     background-color: #2e3234;
     color: #ffffff;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: medium;
 }

 .btn-action:hover {
     background-color: #060606;
     color: #ffffff;
 }

 .btn-logout {
    font-size: 16px;
    font-family: Times;
    background-color: #cb0016;
    color: #ffffff;
 }

 .form-control:focus {
     box-shadow: 0 1px 0 #cb0016 inset, 0 -1px 0 #cb0016 inset, 1px 0 0 #cb0016 inset, -1px 0 0 #cb0016 inset, 0 0 5px rgba(255,0,0,0.6);
     border: thick;
 }

 .sidebar {
     width: 200px;
     background: #2E3234;
     bottom: 0;
     position: absolute;
     overflow: auto;
     color: #F5FFFA;
     height: 100%;
 }

 .language {
     padding: 10px 5px 5px;
     position: absolute;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     background: #232729;
 }

 .language > img {
     height: 25px;
     border: 1px solid white;
     border-radius: 4px;
 }

 .action-buttons > * {
     padding: 5px;
     border-radius: 4px;
     color: #000000;
     font-size: 14px;
 }