 body{
     background-color: #FFF;
}

 .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.buttons{
  width: 100%;
  padding: 15px;
  margin: 0 auto;

}

.container_logout{
	overflow: visible;
	text-align: center;
	float: right;
}

.header {
    padding-left: 240px;
    color: #343434;
    font-weight: normal;
    font-family: "Segoe UI", serif;
    font-size: 39px;
    line-height: 62px;
    height: 80px;
    width: 100%;
    border-bottom: 7px ridge #2E3234;
}

.auth{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Times, serif;
    text-align: center;
}

.logout_button {
  display: inline-block;
}

.sidebar_categories{
    top: 0;
	width: 200px;
	background: #2E3234;
    position: fixed;
    overflow: auto; 
    color: #F5FFFA;
    height: 100%;
}

.header > * {
    display: inline-block;
}

.categories {
    padding-left: 10px;
}

.categories-list {
    list-style-type: none;
    font-size: 1.2em;
}

.categories-list a, .subsribe a, .similar a {
    color: #FFFFFF;
}

 .similar a {
     color: #2E3234;
     font-size: 16px;
 }

 .post_conteiner {
     width: 100%;
 }
.post_image {
    padding: 10px;
    display: inline-block;
}

.post_title {
    padding-left: 10px;
    padding-top: 8px;
    font-size: 22px;
    font-family: "Javanese Text";
}

 .post_title a {
     color: #2E3234;
 }

.post_date {
    color: #888888;
    font-size: 12px;
    padding-left: 10px;
}
.post_summary {
    padding-top: 8px;
    padding-right: 20px;
    padding-left: 15px;
    height: auto;
    display: inline-block;
}

.post_content {
    margin: 15px;
}

.post_similarPosts {
    padding-left: 15px;
    list-style-type: none;
    color: #2E3234;
}

.post {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.sort {
    margin-left: 20px;
}

.content {
    margin-top: 20px;
    margin-left: 210px;
}

body {
    overflow-x: hidden;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

 .btn {
     border-radius: 3px;
     padding: 4px;
 }

 .btn-danger {
     width: 100%;
     margin-top: 9px;
 }

 .btn-action {
     background-color: #2e3234;
     color: #ffffff;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: medium;
     margin: 3px;
     padding: 4px;
 }

 .btn-action:hover {
     background-color: #060606;
     color: #ffffff;
 }

 .btn-logout {
    font-size: 16px;
    font-family: Times;
    background-color: #cb0016;
    color: #ffffff;
 }

 .form-control:focus {
     box-shadow: 0 1px 0 #cb0016 inset, 0 -1px 0 #cb0016 inset, 1px 0 0 #cb0016 inset, -1px 0 0 #cb0016 inset, 0 0 5px rgba(255,0,0,0.6);
     border: thick;
 }

 .sidebar {
     width: 200px;
     background: #2E3234;
     bottom: 0;
     position: absolute;
     overflow: auto;
     color: #F5FFFA;
     height: 100%;
 }

 .language {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }
 .bottom-sidebar {
     padding: 10px 5px 5px;
     position: absolute;
     bottom: 0;
     width: 100%;
     background: #232729;
 }

 .language img {
     height: 25px;
     border: 1px solid white;
     border-radius: 4px;
 }

 .action-buttons > * {
     padding: 5px;
     border-radius: 4px;
     color: #000000;
     font-size: 14px;
 }

 .ad {
     padding-left: 10px;
 }

 .admin-list {
     list-style-type: none;
     font-size: 1.2em;
 }

 .content_users, .content_posts, .content_categories {
     margin-top: 40px;
     margin-left: 210px;
     border: solid;
 }

 .forgot, .signup {
    display: inline-block;
     margin-left: auto;
     margin-right: auto
 }

 .list, .list:hover {
     color: #F5FFFA;
 }

 .edit, .delete, .read_more, .add {
     background: #2E3234;
     color: #F5FFFA;
 }

 .button, .button:hover {
     margin-left: 15px;
     background: #2E3234;
     color: #F5FFFA;
     padding: 5px;
     border-radius: 4px;
     font-size: 14px;
 }

 #categories {
     margin-left: 15px;
 }

 .form_start, .form_widget, form_end, form_row {
     margin: 10px;
     font-size: 17px;
     padding-left: 45px;
 }

 p {
     font-size: 19px;
     padding-left: 70px;
 }

 .content_username, .content_category {
     margin-top: 40px;
     margin-left: 350px;
     border: solid;
     border-radius: 4px;
     width: 20%;
 }

 .content_categories{
   width: 22%;
 }

 .content_users {
     width: 40%;
 }

 .category_row, .category_start, .category_end {
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 10px;
 }

 .table, tr, td, th{
     border: double;
     width: 100%;
 }

 .subsribe{
     text-align: center;
     margin-top: 10px;
 }

 .similar a {
     color: #5e5e5e;
 }

 .similar a:hover {
     color: #ac2925;
 }

 .buttons_login {
     text-align: center;
 }

 .signup_form {
     margin-top: 10px;
     width: 100%;
 }

 .signup_login {
     text-align: center;
 }

 .footer {
    text-align: center;
     width: 100%;
     margin-top: 8px;
 }