{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tr>
            <th>{{ 'name' }}</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post', {'id': post.id}, {'id': category.id}) }}">{{ post.title }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}