{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
        {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}

        <button class="btn btn-lg btn-primary btn-block">Reset password</button>
{{ form_end(form) }}
{% endblock %}
